.buttons{
    margin-top: 1em;
}

.container {

  width : 1024px;
  margin: auto;
  background-color: dodgerblue;
  padding : 1em;
  font-family: arial;
}

.counter {
  font-size: 3em;
}

button {
  padding: 1em;
  font-size: 1em;
  background-color: orange;
}
